<strong>Olá {{ deliveryman }}.</strong>
<p>Você tem um cancelamento de encomenda.</p>
<p>Devido ao  problema relatado em nossa plataforma, cancelaremos a entrega.</p>
<p>Detalhes do problema:</p>
<p>
	<strong>Descrição: </strong> {{ description }} <br />
</p>
<p>
	<strong>Produto: </strong> {{ product }} <br /><br />
	<strong>Destinatário: </strong> {{ recipient }} <br />
	<br />
	<strong>Endereço:</strong> <br />
		<strong>Cidade: </strong> {{ city }}, - {{ state }} <br />
		<strong>Rua: </strong> {{ street }}, Nº {{ number }} <br />
		<strong>CEP: </strong> {{ zip_code }}
</p>
