<strong>Olá {{ deliveryman }}.</strong>
<p>Você tem uma encomenda disponível.</p>
<p>Confira os detalhes:</p>
<p>
	<strong>Produto: </strong> {{ product }} <br />
	<strong>Destinatário: </strong> {{ recipient }} <br />
	<br />
	<strong>Endereço:</strong> <br />
		<strong>Cidade: </strong> {{ city }}, - {{ state }} <br />
		<strong>Rua: </strong> {{ street }}, Nº {{ number }} <br />
		<strong>CEP: </strong> {{ zip_code }}
</p>
<p>
	<small>
		Retirada de 8h as 18h.
	</small>
</p>
